table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

.cats {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.cath {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.cath h3 {
  width: 300px;
}